In [3]:
import pandas as pd
import json
#from IPython.display import display
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [9]:
#country_code = "/Users/shilpa/Downloads/opendata-export.json"
country_code_df = pd.read_json('/Users/shilpa/Downloads/opendata-export.json')
country_code_df

        trashpoints_total                                        trashpoints
0                  283369  {'id': 508844, 'type': 'Trashout', 'lat': 40.3...
1                  283369  {'id': 508842, 'type': 'Trashout', 'lat': 46.6...
2                  283369  {'id': 508843, 'type': 'Trashout', 'lat': 40.3...
3                  283369  {'id': 508846, 'type': 'Trashout', 'lat': 55.7...
4                  283369  {'id': 508845, 'type': 'Trashout', 'lat': 40.3...
5                  283369  {'id': 508467, 'type': 'Trashout', 'lat': 44.7...
6                  283369  {'id': 506033, 'type': 'Trashout', 'lat': 44.7...
7                  283369  {'id': 508828, 'type': 'Trashout', 'lat': 6.60...
8                  283369  {'id': 508829, 'type': 'Trashout', 'lat': 6.60...
9                  283369  {'id': 508830, 'type': 'Trashout', 'lat': 6.60...
10                 283369  {'id': 508831, 'type': 'Trashout', 'lat': 6.60...
11                 283369  {'id': 508835, 'type': 'Trashout', 'lat': 6.60...
12                 283369  {'id': 508834, 'type': 'Trashout', 'lat': 6.60...
13                 283369  {'id': 508823, 'type': 'Trashout', 'lat': 6.62...
14                 283369  {'id': 508818, 'type': 'Trashout', 'lat': 6.63...
15                 283369  {'id': 508820, 'type': 'Trashout', 'lat': 6.62...
16                 283369  {'id': 508824, 'type': 'Trashout', 'lat': 6.62...
17                 283369  {'id': 508819, 'type': 'Trashout', 'lat': 6.63...
18                 283369  {'id': 508821, 'type': 'Trashout', 'lat': 6.62...
19                 283369  {'id': 508827, 'type': 'Trashout', 'lat': 6.59...
20                 283369  {'id': 508832, 'type': 'Trashout', 'lat': 6.60...
21                 283369  {'id': 508826, 'type': 'Trashout', 'lat': 6.59...
22                 283369  {'id': 508825, 'type': 'Trashout', 'lat': 6.61...
23                 283369  {'id': 508833, 'type': 'Trashout', 'lat': 6.60...
24                 283369  {'id': 508822, 'type': 'Trashout', 'lat': 6.62...
25                 283369  {'id': 508836, 'type': 'Trashout', 'lat': 6.60...
26                 283369  {'id': 508840, 'type': 'Trashout', 'lat': 44.3...
27                 283369  {'id': 508838, 'type': 'Trashout', 'lat': 44.4...
28                 283369  {'id': 508837, 'type': 'Trashout', 'lat': 53.7...
29                 283369  {'id': 508839, 'type': 'Trashout', 'lat': 56.8...
...                   ...                                                ...
283339             283369  {'id': 320841, 'type': 'MarineDebrisTracker', ...
283340             283369  {'id': 321862, 'type': 'MarineDebrisTracker', ...
283341             283369  {'id': 323902, 'type': 'MarineDebrisTracker', ...
283342             283369  {'id': 327986, 'type': 'MarineDebrisTracker', ...
283343             283369  {'id': 327987, 'type': 'MarineDebrisTracker', ...
283344             283369  {'id': 323903, 'type': 'MarineDebrisTracker', ...
283345             283369  {'id': 327988, 'type': 'MarineDebrisTracker', ...
283346             283369  {'id': 327989, 'type': 'MarineDebrisTracker', ...
283347             283369  {'id': 321863, 'type': 'MarineDebrisTracker', ...
283348             283369  {'id': 323904, 'type': 'MarineDebrisTracker', ...
283349             283369  {'id': 327990, 'type': 'MarineDebrisTracker', ...
283350             283369  {'id': 327991, 'type': 'MarineDebrisTracker', ...
283351             283369  {'id': 323905, 'type': 'MarineDebrisTracker', ...
283352             283369  {'id': 327992, 'type': 'MarineDebrisTracker', ...
283353             283369  {'id': 327993, 'type': 'MarineDebrisTracker', ...
283354             283369  {'id': 320842, 'type': 'MarineDebrisTracker', ...
283355             283369  {'id': 321864, 'type': 'MarineDebrisTracker', ...
283356             283369  {'id': 323906, 'type': 'MarineDebrisTracker', ...
283357             283369  {'id': 327994, 'type': 'MarineDebrisTracker', ...
283358             283369  {'id': 327995, 'type': 'MarineDebrisTracker', ...
283359             283369  {'id': 323907, 'type': 'MarineDebrisTracker', ...
283360             283369  {'id': 327996, 'type': 'MarineDebrisTracker', ...
283361             283369  {'id': 327997, 'type': 'MarineDebrisTracker', ...
283362             283369  {'id': 321865, 'type': 'MarineDebrisTracker', ...
283363             283369  {'id': 323908, 'type': 'MarineDebrisTracker', ...
283364             283369  {'id': 327998, 'type': 'MarineDebrisTracker', ...
283365             283369  {'id': 327999, 'type': 'MarineDebrisTracker', ...
283366             283369  {'id': 323909, 'type': 'MarineDebrisTracker', ...
283367             283369  {'id': 328000, 'type': 'MarineDebrisTracker', ...
283368             283369  {'id': 328001, 'type': 'MarineDebrisTracker', ...

[283369 rows x 2 columns]