In [5]:
%matplotlib notebook
import pandas as pd
#from IPython.display import display
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [8]:
country_data = "/Users/shilpa/Desktop/Boringppl_project/WasteManagement/Data/country_level_data_0.csv"
country_data_df = pd.read_csv(country_data, encoding = 'utf-8')
country_data_df.columns

Index(['iso3c', 'region_id', 'country_name', 'income_id', 'gdp',
       'composition_food_organic_waste_percent', 'composition_glass_percent',
       'composition_metal_percent', 'composition_other_percent',
       'composition_paper_cardboard_percent', 'composition_plastic_percent',
       'composition_rubber_leather_percent', 'composition_wood_percent',
       'composition_yard_garden_green_waste_percent',
       'other_information_information_system_for_solid_waste_management',
       'other_information_national_agency_to_enforce_solid_waste_laws_and_regulations',
       'other_information_national_law_governing_solid_waste_management_in_the_country',
       'other_information_ppp_rules_and_regulations',
       'other_information_summary_of_key_solid_waste_information_made_available_to_the_public',
       'population_population_number_of_people',
       'special_waste_agricultural_waste_tons_year',
       'special_waste_construction_and_demolition_waste_tons_year',
       'special_waste_e_waste_tons_year',
       'special_waste_hazardous_waste_tons_year',
       'special_waste_industrial_waste_tons_year',
       'special_waste_medical_waste_tons_year',
       'total_msw_total_msw_generated_tons_year',
       'waste_collection_coverage_rural_percent_of_geographic_area',
       'waste_collection_coverage_rural_percent_of_households',
       'waste_collection_coverage_rural_percent_of_population',
       'waste_collection_coverage_rural_percent_of_waste',
       'waste_collection_coverage_total_percent_of_geographic_area',
       'waste_collection_coverage_total_percent_of_households',
       'waste_collection_coverage_total_percent_of_population',
       'waste_collection_coverage_total_percent_of_waste',
       'waste_collection_coverage_urban_percent_of_geographic_area',
       'waste_collection_coverage_urban_percent_of_households',
       'waste_collection_coverage_urban_percent_of_population',
       'waste_collection_coverage_urban_percent_of_waste',
       'waste_treatment_anaerobic_digestion_percent',
       'waste_treatment_compost_percent',
       'waste_treatment_controlled_landfill_percent',
       'waste_treatment_incineration_percent',
       'waste_treatment_landfill_unspecified_percent',
       'waste_treatment_open_dump_percent', 'waste_treatment_other_percent',
       'waste_treatment_recycling_percent',
       'waste_treatment_sanitary_landfill_landfill_gas_system_percent',
       'waste_treatment_unaccounted_for_percent',
       'waste_treatment_waterways_marine_percent',
       'where_where_is_this_data_measured'],
      dtype='object')

In [12]:
#Waste_Generated = pd.DataFrame(country_data_df, columns =[
    
waste = pd.DataFrame(country_data_df, columns=['country_name', 
                                'income_id',
                                'gdp', 
                                'population_population_number_of_people',
                                'composition_food_organic_waste_percent', 
                                'composition_glass_percent',
                                'composition_metal_percent', 
                                'composition_other_percent',
                                'composition_paper_cardboard_percent', 
                                'composition_plastic_percent',
                                'composition_rubber_leather_percent', 
                                'composition_wood_percent',
                                'composition_yard_garden_green_waste_percent',
                                'special_waste_agricultural_waste_tons_year',
                                'special_waste_construction_and_demolition_waste_tons_year',
                                'special_waste_e_waste_tons_year',
                                'special_waste_hazardous_waste_tons_year',
                                'special_waste_industrial_waste_tons_year',
                                'special_waste_medical_waste_tons_year',
                                'total_msw_total_msw_generated_tons_year'])

waste.head()

,country_name,income_id,gdp,population_population_number_of_people,composition_food_organic_waste_percent,composition_glass_percent,composition_metal_percent,composition_other_percent,composition_paper_cardboard_percent,composition_plastic_percent,composition_rubber_leather_percent,composition_wood_percent,composition_yard_garden_green_waste_percent,special_waste_agricultural_waste_tons_year,special_waste_construction_and_demolition_waste_tons_year,special_waste_e_waste_tons_year,special_waste_hazardous_waste_tons_year,special_waste_industrial_waste_tons_year,special_waste_medical_waste_tons_year,total_msw_total_msw_generated_tons_year
0,Aruba,HIC,NaN,103187.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.813202e+04
1,Afghanistan,LIC,2.141361e+10,34656032.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6802511.0,NaN,20000.0,NaN,NaN,9855.00,5.628525e+06
2,Angola,LMC,1.030423e+11,25096150.0,51.8,6.7,4.4,11.50,11.9,13.5,NaN,NaN,NaN,NaN,NaN,92000.0,NaN,NaN,5495.95,4.213644e+06
3,Albania,UMC,1.347108e+10,2880703.0,51.4,4.5,4.8,15.21,9.9,9.6,NaN,4.6,NaN,NaN,203009.0,20000.0,5714.82,270269.0,114.30,1.142964e+06
4,Andorra,HIC,3.319880e+09,82431.0,31.2,8.2,2.6,11.60,35.1,11.3,NaN,NaN,NaN,NaN,NaN,NaN,1788.00,NaN,NaN,4.300000e+04

In [18]:
All_waste = waste.rename(columns={'country_name': 'Country', 
                                'income_id': "Income",
                                'gdp': 'GDP', 
                                'population_population_number_of_people': 'Population',
                                'composition_food_organic_waste_percent': '%_Organic', 
                                'composition_glass_percent': '%_Glass',
                                'composition_metal_percent': '%_Metal', 
                                'composition_other_percent': '%_Other',
                                'composition_paper_cardboard_percent': '%_Cardboard', 
                                'composition_plastic_percent': '%_Plastic',
                                'composition_rubber_leather_percent': '%_Rubber_Leather', 
                                'composition_wood_percent': '%_Wood',
                                'composition_yard_garden_green_waste_percent': '%_Yard_Garden',
                                'special_waste_agricultural_waste_tons_year': 'Agricultural',
                                'special_waste_construction_and_demolition_waste_tons_year': 'Building',
                                'special_waste_e_waste_tons_year': 'Electronic',
                                'special_waste_hazardous_waste_tons_year': 'Hazardous',
                                'special_waste_industrial_waste_tons_year': 'Industrial',
                                'special_waste_medical_waste_tons_year': 'Medical',
                                'total_msw_total_msw_generated_tons_year': 'Total_MSW'})

All_waste.head(3)

,Country,Income,GDP,Population,%_Organic,%_Glass,%_Metal,%_Other,%_Cardboard,%_Plastic,%_Rubber_Leather,%_Wood,%_Yard_Garden,Agricultural,Building,Electronic,Hazardous,Industrial,Medical,Total_MSW
0,Aruba,HIC,NaN,103187.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.813202e+04
1,Afghanistan,LIC,2.141361e+10,34656032.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6802511.0,NaN,20000.0,NaN,NaN,9855.00,5.628525e+06
2,Angola,LMC,1.030423e+11,25096150.0,51.8,6.7,4.4,11.5,11.9,13.5,NaN,NaN,NaN,NaN,NaN,92000.0,NaN,NaN,5495.95,4.213644e+06

In [30]:
General_waste = country_data_df[['country_name', 
                       'income_id', 
                       'composition_food_organic_waste_percent', 
                        'composition_glass_percent',
                        'composition_metal_percent', 
                        'composition_other_percent',
                        'composition_paper_cardboard_percent', 
                        'composition_plastic_percent',
                        'composition_rubber_leather_percent', 
                        'composition_wood_percent',
                        'composition_yard_garden_green_waste_percent']]
General_waste.fillna(0).set_index('country_name').head(3)

,income_id,composition_food_organic_waste_percent,composition_glass_percent,composition_metal_percent,composition_other_percent,composition_paper_cardboard_percent,composition_plastic_percent,composition_rubber_leather_percent,composition_wood_percent,composition_yard_garden_green_waste_percent
country_name,,,,,,,,,,
Aruba,HIC,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Afghanistan,LIC,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Angola,LMC,51.8,6.7,4.4,11.5,11.9,13.5,0.0,0.0,0.0

In [37]:
North_Africa = General_waste.loc[country_data_df['country_name'].isin(['Algeria', "Egypt, Arab Rep.", 
              "Libya", "Sudan", "Tunisia"])].set_index('country_name')
North_Africa

West_Africa = General_waste.loc[country_data_df['country_name'] .\
            isin(['Benin', "Burkina Faso", "Cape Verde", "Côte d’Ivoire", "Gambia,The", "Ghana", 
                  "Guinea", "Guinea Bissau", "Liberia", "Mali", "Mauritania", "Niger", "Nigeria", 
                  "Senegal", "Sierra Leone","Togo"])].set_index('country_name')

Central_Africa = General_waste.loc[country_data_df['country_name'] .\
            isin(['Angola', "Camaroon", "Central African Republic", "Chad", "Congo, Rep.", "Congo, Dem. Rep.", 
                  "Equatorial Guinea", "Gabon", "São Tomé and Príncipe"])].set_index('country_name')

East_Africa = General_waste.loc[country_data_df['country_name'] .\
            isin(['Burundi', "Comaros", "Djibouti", "Eritrea", "Ethiopia", "Kenya", "Madagascar", "Malawi", 
                  "Mauritius", "Mozambique", "Rwanda", "Seychelles", "Somalia", "Somaliland", "South Sudan", 
                  "Tanzania", "Uganda", "Zambia", "Zimbabwe"])].set_index('country_name')


Southern_Africa = General_waste.loc[country_data_df['country_name'] .\
            isin(['Botswana', "Lesotho", "Namibia", "South Africa", "Swaziland"])].set_index('country_name')

Africa = [North_Africa, West_Africa, Central_Africa, East_Africa, Southern_Africa]
df_Africa = pd.concat(Africa)
df_Africa.head(3)

,income_id,composition_food_organic_waste_percent,composition_glass_percent,composition_metal_percent,composition_other_percent,composition_paper_cardboard_percent,composition_plastic_percent,composition_rubber_leather_percent,composition_wood_percent,composition_yard_garden_green_waste_percent
country_name,,,,,,,,,,
Algeria,UMC,54.4,1.2,2.8,0.8,9.8,16.9,12.6,1.5,NaN
"Egypt, Arab Rep.",LMC,56.0,4.0,2.0,15.0,10.0,13.0,NaN,NaN,NaN
Libya,UMC,70.1,3.1,4.3,3.8,5.5,7.5,NaN,2.5,NaN

In [152]:
waste_generated_LIC = df_Africa.groupby('income_id').get_group('LIC').fillna(0).drop_duplicates().reset_index('country_name')
Africa_LIC_summary = waste_generated_LIC.sum(axis=0)
Africa_LIC_summary

country_name                                   BeninBurkina FasoGuineaLiberiaMaliNigerSenegal...
income_id                                             LICLICLICLICLICLICLICLICLICLICLICLICLICLIC
composition_food_organic_waste_percent                                                     645.7
composition_glass_percent                                                                   19.1
composition_metal_percent                                                                     26
composition_other_percent                                                                    416
composition_paper_cardboard_percent                                                        105.7
composition_plastic_percent                                                                 85.7
composition_rubber_leather_percent                                                             0
composition_wood_percent                                                                       2
composition_yard_garden_green_waste_percent                                                    0
dtype: object

In [145]:
LICwaste_africa = df_LICwaste_africa.drop(['country_name', 'income_id'])\
    .rename(index={'composition_food_organic_waste_percent': "Organic", 
                   'composition_glass_percent': "Glass", 
                   'composition_metal_percent': "Metal",
                  'composition_other_percent': "Other",
                  'composition_paper_cardboard_percent': "Paper/Cardboard",
                  'composition_plastic_percent': "Plastic",
                  'composition_rubber_leather_percent': "Rubber/Leather",
                  'composition_wood_percent': "Wood",
                  'composition_yard_garden_green_waste_percent': "Yard"})
LICwaste_africa

                     0
Organic          645.7
Glass             19.1
Metal               26
Other              416
Paper/Cardboard  105.7
Plastic           85.7
Rubber/Leather       0
Wood                 2
Yard                 0

In [150]:
a =  pd.DataFrame(LICwaste_africa)
a

                     0
Organic          645.7
Glass             19.1
Metal               26
Other              416
Paper/Cardboard  105.7
Plastic           85.7
Rubber/Leather       0
Wood                 2
Yard                 0

In [53]:
import squarify